###############################################
[loggers]
keys=root,paper,patent,video,backstage
[logger_root]
level=DEBUG
handlers=basic
[logger_paper]
handlers=basic,paper
qualname=paper
propagate=0
[logger_patent]
handlers=basic,patent
qualname=patent
propagate=0
[logger_video]
handlers=basic,video
qualname=video
propagate=0
[logger_backstage]
handlers=basic
qualname=backstage
propagate=0
###############################################
[handlers]
keys=basic,paper,patent,video
[handler_basic]
class=StreamHandler
level=INFO
formatter=form02
args=(sys.stderr,)
[handler_paper]
class=handlers.TimedRotatingFileHandler
level=DEBUG
formatter=form01
args=('/home/zjun/Desktop/www/spider/log/paper/paper.log', 'D',1)
[handler_patent]
class=handlers.TimedRotatingFileHandler
level=DEBUG
formatter=form01
args=('/home/zjun/Desktop/www/spider/log/patent/patent.log', 'D',1)
[handler_video]
class=handlers.TimedRotatingFileHandler
level=DEBUG
formatter=form01
args=('/home/zjun/Desktop/www/spider/log/video/video.log', 'D',1)

###############################################
[formatters]
keys=form01,form02
[formatter_form01]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
datefmt=%a, %d %b %Y %H:%M:%S
[formatter_form02]
format=%(name)-12s: %(levelname)-8s %(message)s
datefmt=