<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爬虫配置</title>
    <meta name="description" content="Sidebar Transitions: Transition effects for off-canvas views" />
    <meta name="keywords" content="transition, off-canvas, navigation, effect, 3d, css3, smooth" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='spider.ico') }}">
    <link href="static/css/dataTables.responsive.css" rel="stylesheet">
    <link href="static/css/dataTables.bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="static/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-responsive.css" />
    <script src="{{url_for('static',filename='js/modernizr.custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{url_for('static', filename='js/echarts.common.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/dataTables.responsive.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>

<body>
    <div id="st-container" class="st-container">
        <!--  
        example menus 
        these menus will be on top of the push wrapper
      -->
        <nav class="st-menu st-effect-1" id="menu-1">
            <h2 class="icon icon-lab">设置</h2>
            <ul>
                <li><a class="icon icon-location" href="{{url_for('patent')}}">专利信息抓取</a></li>
                <li><a class="icon icon-study" href="{{url_for('paper')}}">论文抓取设置</a></li>
                <li><a class="icon icon-photo" href="{{url_for('video')}}">视频抓取设置</a></li>
                <li><a class="icon icon-data" href="{{url_for('config')}}">参数配置</a></li>
                <li><a class="icon icon-wallet" href="{{url_for('index')}}">返回主页</a></li>
            </ul>
        </nav>
        <!-- content push wrapper -->
        <div class="st-pusher">
            <!--  
          example menus 
          these menus will be under the push wrapper
        -->
            <div class="st-content">
                <!-- this is the wrapper for the content -->
                <div class="st-content-inner">
                    <!-- extra div for emulating position:fixed of the menu -->
                    <!-- Top Navigation -->
                    <div style="z-index:9999;opacity:1;" class="codrops-top clearfix">
                        <a class="codrops-icon codrops-icon-drop" href="#" id="setting"><span>系统设置</span></a>
                        <span class="right"><a class="codrops-icon codrops-icon-prev" href="{{url_for('logout')}}"><span>退出</span></a>
                        </span>
                    </div>
                    {% block body %}{% endblock %}
                </div>
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
    </div>
    <!-- /st-container -->
    <script src="{{url_for('static',filename='js/classie.js')}}"></script>
    <script src="{{url_for('static',filename='js/sidebarEffects.js')}}"></script>
</body>

</html>
